<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="six columns">
      <%= form.label :week %>
      <%= form.select :week, options_for_select(1..17), {}, {required: 'true', autofocus: 'true', class: "u-full-width"} %>
    </div>
    <div class="six columns">
      <%= form.label :year %>
      <%= form.select :year, options_for_select(2018..2019), {}, {required: 'true', autofocus: 'false', class: "u-full-width"} %>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <%= form.label :home_team %>
      <%= form.select :home_team, options_for_select(TEAMS.values), {}, {required: 'true', autofocus: 'false', class: "u-full-width"} %>
    </div>
    <div class="six columns">
      <%= form.label :away_team %>
      <%= form.select :away_team, options_for_select(TEAMS.values), {}, {required: 'true', autofocus: 'false', class: "u-full-width"} %>
    </div>
  </div>

  <%= form.submit 'CREATE GAME', class: "button-primary" %>
<% end %>
